{% extends "samland_govuk/template.njk" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}{{ articleTitle }} - Samland GOV{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l">{{articleCategory}}</span>

    <h1 class="govuk-heading-l">{{articleTitle}}</h1>

    <p class="govuk-body-l">{{articleDescription}}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Published {{articleDate}}</p>

    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-4">
      From: <a class="govuk-link" href="{{articleAuthor.url}}">{{articleAuthor.name}}</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ content | safe }}

    <hr class="govuk-section-break govuk-section-break--l">

    <a href="#" class="govuk-link govuk-link--muted">
      Is there anything wrong with this page?
    </a>
  </div>
</div>
{% endblock %}
