{% set govukRebrand = "true" %}

{% from "govuk/macros/attributes.njk" import govukAttributes -%}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{% from "samland_govuk/components/header/macro.njk" import samlandHeader -%}
{% from "samland_govuk/components/footer/macro.njk" import samlandFooter -%}

{%- set _rebrand = govukRebrand() if govukRebrand is callable else govukRebrand -%}

{# Hardcoded value is $govuk-brand-colour override using Samland colours-#}
{% set themeColor = themeColor | default("#329c69" if _rebrand else "#329c69", true) -%}
{% set assetPath = assetPath | default("/assets" if _rebrand else "/assets", true) -%}

<!DOCTYPE html>
<html lang="{{ htmlLang | default("en", true) }}" class="govuk-template {%- if _rebrand %} govuk-template--rebranded{% endif %} {%- if htmlClasses %} {{ htmlClasses }}{% endif %}">
  <head>
    <meta charset="utf-8">
    <title {%- if pageTitleLang %} lang="{{ pageTitleLang }}"{% endif %}>{% block pageTitle %}Samland GOV{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor }}">

    {% block headIcons %}
      <link rel="icon" sizes="any" href="{{ assetPath }}/images/favicon.svg" type="image/svg+xml">
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
    {% block head %}{% endblock %}

    {#- OpenGraph images needs to be absolute, so we need either a URL for the image or for assetUrl to be set #}
    {% if opengraphImageUrl or assetUrl %}
    <meta property="og:image" content="{{ opengraphImageUrl | default(assetUrl + "/images/govuk-opengraph-image.png", true) }}">
    {% endif %}
  </head>
  <body class="govuk-template__body {%- if bodyClasses %} {{ bodyClasses }}{% endif %}" {{- govukAttributes(bodyAttributes) }}>
    <script {%- if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    {% block bodyStart %}{% endblock %}

    {% block skipLink %}
      {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
      }) }}
    {% endblock %}

    {% block header %}
      {{ samlandHeader({
        rebrand: _rebrand
      }) }}
    {% endblock %}

    {% block main %}
      {% block afterMain %}{% endblock %}
      <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
        {% block beforeContent %}{% endblock %}
        <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block content %}{% endblock %}
        </main>
      </div>
    {% endblock %}

    {% block footer %}
      {{ samlandFooter({
        rebrand: _rebrand,
        navigation: [
          {
            title: "Services and information",
            width: "two-thirds",
            columns: 2,
            items: [
              {
                href: "#",
                text: "Business and employment"
              },
              {
                href: "#",
                text: "Citizenship and living"
              },
              {
                href: "#",
                text: "Crime, justice and the law"
              },
              {
                href: "#",
                text: "Driving and transport"
              },
              {
                href: "#",
                text: "Money and tax"
              }
            ]
          },
          {
            title: "Government Activity",
            width: "one-third",
            items: [
              {
                href: "/government/how-to-join-samland",
                text: "How to join Samland?"
              },
              {
                href: "/government/what-is-samland",
                text: "What is Samland?"
              },
              {
                href: "/organisations",
                text: "Organisations"
              },
              {
                href: "/articles",
                text: "Announcements"
              }
            ]
          }
        ],
        meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "#",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Terms and conditions"
            }
          ],
          html: 'Built by the <a href="#" class="govuk-footer__link">Department for Digital</a>'
        }
      }) }}
    {% endblock %}

    {% block bodyEnd %}{% endblock %}
  </body>
</html>