---
import Base from '../layouts/Base.astro';
---

<Base title='Page not found'>
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-full">
      		<header class="app-document-header">
  				<h1 class="app-document-header__title govuk-heading-xl">
    				Page not found
  				</h1>
			</header>
	    </div>
    	<div class="govuk-grid-column-two-thirds-from-desktop">
			<div class="app-prose-scope">
        		<p class="govuk-body">If you entered a web address please check it was correct.</p>
				<p class="govuk-body">You can browse from <a href="/" class="govuk-link">the homepage</a> or use the <a href="/sitemap" class="govuk-link">sitemap</a> to find the information you need.</p>
			</div>
	    </div>
	</div>
</Base>
