---
import Base from '../layouts/Base.astro';
import { getEntry } from 'astro:content';
import { renderMarkdown } from '../lib/markdown';

const postID = Astro.params.id;

if (!postID) {
	return new Response(null, { status: 404 });
}

const post = await getEntry('guides', postID);

if (!post) {
	return new Response(null, { status: 404 });
}

const body = post && post.body ? post.body : "No content available";

const htmlContent = renderMarkdown(body);
---

<Base title={post.data.title}>
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-full">
      		<header class="app-document-header">
  				<h1 class="app-document-header__title govuk-heading-xl">
    				{post.data.title}
  				</h1>
			</header>
	    </div>
    	<div class="govuk-grid-column-two-thirds-from-desktop">
			<div class="app-prose-scope">
        		<Fragment set:html={htmlContent} />
			</div>
	    </div>
	</div>
</Base>
