<footer class="govuk-footer app-footer " role="contentinfo">
  <div class="govuk-width-container ">
      <div class="govuk-footer__navigation">
          <div class="govuk-footer__section govuk-grid-column-two-thirds">
            <h2 class="govuk-footer__heading govuk-heading-m">Government Services and Organisations</h2>
              <ul class="govuk-footer__list govuk-footer__list--columns-2">
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/government/organisations/department-for-digital">
                        Department for Digital
                      </a>
                    </li>
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/government/organisations/department-for-planning-and-development">
                        Planning and Development
                      </a>
                    </li>
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/government/organisations/department-for-resource-management">
                        Resource Management
                      </a>
                    </li>
              </ul>
          </div>
          <div class="govuk-footer__section govuk-grid-column-one-third">
            <h2 class="govuk-footer__heading govuk-heading-m">Government Activity</h2>
              <ul class="govuk-footer__list ">
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/government/what-is-samland/">
                        What is Samland?
                      </a>
                    </li>
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/government/structure/">
                        Samlandic Government Structure
                      </a>
                    </li>
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/government/organisations/">
                        All Government Organisations
                      </a>
                    </li>
              </ul>
          </div>
      </div>
      <hr class="govuk-footer__section-break">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <span class="govuk-footer__licence-description">
            Licensed under the <a class="govuk-footer__link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0 license</a>, except where otherwise stated
          </span>
      </div><div class="govuk-footer__meta-item">© Samland Government - Samuel Hulme
        </div>
    </div>
  </div>
</footer>