---
import { getUser } from "src/lib/auth";

const user = await getUser(Astro.cookies);
---

<header class="govuk-header app-header app-header--no-border" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container app-header__container" style="display: flex; align-items: center;">
        <div class="govuk-header__logo app-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="app-header__logotype">Samland Government</span>
            </a>
        </div>

        <nav aria-label="Account navigation" style="margin-left: auto;">
            <ul style="display: flex; align-items: center; gap: 1.5rem; list-style: none; margin: 0; padding: 0;">
                {user ? (
                    <>
                        <li style="display: flex; align-items: center;">
                            <span style="font-size: 16px; line-height: 1.5;">Signed in as {user.firstName} {user.lastName}</span>
                        </li>
                        <li style="display: flex; align-items: center;">
                            <a class="govuk-header__link" href="/auth/logout">Sign out</a>
                        </li>
                    </>
                ) : (
                    <li style="display: flex; align-items: center;">
                        <a class="govuk-header__link" href="/auth/login">Sign in</a>
                    </li>
                )}
            </ul>
        </nav>
    </div>
</header>
