---
import Base from '../../../layouts/Base.astro';

import markdownit from 'markdown-it'
import markdownitGovuk from 'markdown-it-govuk'
import highlight from 'markdown-it-govuk/highlight'

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('organisations');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const md = markdownit({
  highlight
})

md.use(markdownitGovuk)

const htmlContent = md.render(post.body || "No content available");
---

<Base title={post.data.name}>
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-full">
      		<header class="app-document-header">
  				<h1 class="app-document-header__title govuk-heading-xl">
    				{post.data.name}
  				</h1>
			</header>
	    </div>
    	<div class="govuk-grid-column-two-thirds-from-desktop">
			<div class="app-prose-scope">
        		<Fragment set:html={htmlContent} />
			</div>
	    </div>
	</div>
</Base>
