---
import Base from '../../../layouts/Base.astro';

import { renderMarkdown } from 'src/lib/markdown';
import { getEntry } from 'astro:content';

const postID = Astro.params.id;

if (!postID) {
	return new Response(null, { status: 404 });
}

const post = await getEntry('organisations', postID);

if (!post) {
	return new Response(null, { status: 404 });
}

const body = post && post.body ? post.body : "No content available";

const htmlContent = renderMarkdown(body);
---

<Base title={post.data.name}>
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-full">
      		<header class="app-document-header">
  				<h1 class="app-document-header__title govuk-heading-xl">
    				{post.data.name}
  				</h1>
			</header>
	    </div>
    	<div class="govuk-grid-column-two-thirds-from-desktop">
			<div class="app-prose-scope">
        		<Fragment set:html={htmlContent} />
			</div>
	    </div>
	</div>
</Base>
